{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.service.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="mitmachen" class="pages service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    {{ with .Site.Data.service.title }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.service.subtitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . }}</p>{{ end }}
                    <div class="row service-parts">
                        {{ range .Site.Data.service.serviceItem }}
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
                                {{ with .title }}<h4>{{ . }}</h4>{{ end }}
                                {{ with .description }}<p>{{ . }}</p>{{ end }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ with .Site.Data.service.image }}
            <div class="col-md-6">
                <div class="block">
                    <img class="img-fluid" src="{{ . | absURL }}" alt="about-image">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}

{{ partial "clients.html" . }}

<!-- {{ partial "cta.html" . }} -->

{{ partial "footer.html" . }}
