{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <p class="copyright">
                    <span>
                        <!--<script>document.write(new Date().getFullYear())</script>-->
                    </span>Template-Vorlage von
                    <a href="https://www.themefisher.com" target="_blank">Themefisher</a>.
                </p>
                <p class="copyright">
                Die Inhalte stehen, wenn nicht anders angegeben, unter 
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>.
                </p>
                <p class="copyright">
                Freifunk-Logo: Von <a href="//commons.wikimedia.org/wiki/File:Freifunk_logo.gif" title="File:Freifunk logo.gif">Freifunk_logo.gif</a>: freifunk.netderivative work: <a href="//commons.wikimedia.org/w/index.php?title=User:Biktora&amp;action=edit&amp;redlink=1" class="new" title="User:Biktora (page does not exist)">Biktora</a> (<a href="//commons.wikimedia.org/wiki/User_talk:Biktora" title="User talk:Biktora"><span class="signature-talk">talk</span></a>) - <a href="//commons.wikimedia.org/wiki/File:Freifunk_logo.gif" title="File:Freifunk logo.gif">Freifunk_logo.gif</a>, <a href="https://creativecommons.org/licenses/by-sa/2.5" title="Creative Commons Attribution-Share Alike 2.5">CC BY-SA 2.5</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=9515948">Link</a>; zugeschnitten
                </p>
            </div>
            <div class="col-md-4 col-12">
                {{ "<!-- Social Media -->" | safeHTML }}
                <ul class="social text-center text-md-right text-lg-right">
                    <li>
                        <a style="font-size: 1rem;" href="https://framagit.org/freifunk-holzwinkel" class="gitlab">
                           GitLab<!--<i class="icon ion-md-code"></i>-->
                        </a>
                    </li>
                    <li>
                        <a style="font-size: 1rem;" href="https://matrix.to/#/#freifunk-holzwinkel:tchncs.de" class="matrix">
                            Matrix<!--<i class="icon ion-md-chatboxes"></i>-->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ "plugins/jQurey/jquery.min.js" | absURL }}"></script>
{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ "plugins/form-validation/jquery.form.js" | absURL }}"></script>
<script src="{{ "plugins/form-validation/jquery.validate.min.js" | absURL }}"></script>
{{ "<!-- owl carouserl js -->" | safeHTML }}
<script src="{{ "plugins/owl-carousel/owl.carousel.min.js" | absURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- wow js -->" | safeHTML }}
<script src="{{ "plugins/wow-js/wow.min.js" | absURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
<script src="{{ "plugins/slider/slider.js" | absURL }}"></script>
{{ "<!-- Fancybox -->" | safeHTML }}
<script src="{{ "plugins/facncybox/jquery.fancybox.js" | absURL }}"></script>
{{ "<!-- template main js -->" | safeHTML }}
<script src="{{ "js/main.js" | absURL }}"></script>
</body>

</html>
