<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ "<!-- Basic Page Needs -->" | safeHTML }}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    {{ .Hugo.Generator }}
    
    {{ "<!-- Mobile Specific Metas -->" | safeHTML }}
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="icon" href="{{ "images/favicon.ico" | absURL }}">

    {{ "<!-- Twitter Bootstrs CSS -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/bootstrap/bootstrap.min.css" | absURL }}">
    {{ "<!-- Ionicons Fonts Css -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/ionicons/ionicons.min.css" | absURL }}">
    {{ "<!-- animate css -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/animate-css/animate.css" | absURL }}">
    {{ "<!-- Hero area slider css-->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/slider/slider.css" | absURL }}">
    {{ "<!-- owl craousel css -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/owl-carousel/owl.carousel.css" | absURL }}">
    <link rel="stylesheet" href="{{ "plugins/owl-carousel/owl.theme.css" | absURL }}">
    {{ "<!-- Fancybox -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/facncybox/jquery.fancybox.css" | absURL }}">
    {{ "<!-- hover -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "plugins/hover/hover-min.css" | absURL }}">
    {{ "<!-- template main css file -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
</head>

<body>

<section class="top-bar animated-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="logo" style="height: 25px;">
                    </a>
                    <h2 style="color: var(--magenta); margin-bottom: 0;">{{ .Site.Params.title}}</h2>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <!--<li class="nav-item">
                                <a class="nav-link" href="{{ .Site.BaseURL }}">{{ with .Site.Params.home }}{{ . }}{{ end }}</a>
                            </li>-->
                            {{ range .Site.Menus.nav }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
